@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');
:root{
  --violet_darkest : #4c1d95;
  --violet_light: #6d28d9;
  --violet_barely: #a78bfa;

  --blue_darkest : #1e3a8a;
  --blue_light: #1d4ed8;
  --blue_barely: #60a5fa;
  
  --slate_darkest: #0f172a;
  --slate_dark: #1e293b;
}
body{
  margin: 0;
  height: 100vh;
  background-color: black;
  /* color: white; */
  display: flex;
  flex-direction: column;
  font-family: 'Hind Madurai', sans-serif;
}
header{
  width: 100%;
  height: 50px;
  background-color: aqua;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choose{
  width: 100%;
  min-height: 280px;
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}
.tableContainer{
  width: 100%;
  height: 300px;
  background-color: azure;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table{
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.cell{
  box-sizing: border-box;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* background-image: url(icons/close_FILL0_wght400_GRAD0_opsz48.svg); */
  background-repeat: no-repeat;
  background-size: cover;
  
  /* background-image: url(icons/radio_button_unchecked_FILL0_wght400_GRAD0_opsz48.svg); */
}
/* .one{
  background-image: url(icons/close_FILL0_wght400_GRAD0_opsz48.svg);
} */
fieldset{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border: 0;
  padding: 0;
}
form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
h4, h1{
  margin: 0;
  max-width: 600px;
  overflow: hidden;
}
input, button{
  font-family: inherit;
}
#computerOrHuman{
  margin-left: 20px;
}